header {
  background-color: #6b1d9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.cart {
  float: right;
  margin-right: 20px;
}

.fa-shopping-cart {
  font-size: 30px;
  color: white;
}

.cart-container {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

.barry {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #FB9AD1;
  margin: 3px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 80px; /* Agrega esta propiedad para limitar el ancho del contenedor del menú */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out
}

li {
  margin-right: 20px;
}

a {
  color: white;
  text-decoration: none;
}

select {
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

option {
  background-color: #333;
  color: white;
}
/* Ajusta los estilos para tamaños de pantalla más pequeños */
@media screen and (max-width: 768px) {
  .menu {
      display: none; /* Oculta el menú por defecto en tamaños de pantalla más pequeños */
  }

  .menu-toggle {
      display: block; /* Muestra el icono de hamburguesa en tamaños de pantalla más pequeños */
  }
}


