#nosotros {
    background-color: #FB9AD1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.section-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
}
